{% extends "home/base.html" %}
{% load static %}
{% block content %}
<style>
 a{
     color: white;
 }
 a:hover{
     text-decoration: none;
     color: white;

 }
#img-marketing{
     border-radius: 50%;
     width:50%;
     height:40%;
}

#featurette{
  width:70%;
}
</style>
<main role="main">

<div id="myCarousel" class="carousel slide" data-ride="carousel">

   
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        {% for slide in slides %}
        {% if forloop.counter == 1 %}
      <div class="carousel-item active">
      {% else %}
      <div class="carousel-item ">
      {% endif %}
     <img  src="{{ slide.image.url }}"  class="bd-placeholder-img" width="460" height="345"  />
          <div class="carousel-caption">
            <h1>{{ slide.heading}}</h1>
            <p>{{slide.body}}.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">{{slide.buttonMessage}}!</a></p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  
  </div>
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
   
    <div class="row">
      {% for headline in headlines %}
      <div class="col-lg-4">
      <img id="img-marketing" src="{{ headline.image.url }}"  class="bd-placeholder-img" />
        <h2>{{headline.heading}}</h2>
        <p>{{headline.sub_content}}</p>
        <p><a class="btn btn-secondary" href="#" role="button">{{headline.buttonAction}}&raquo;</a></p>
      
      </div><!-- /.col-lg-4 -->
     {% endfor %}
      <!-- /.col-lg-4 -->
      <!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
    {% for f in firsts%}
      <div class="col-md-7">
        <h2 class="featurette-heading">{{f.heading}}</h2>
        <p class="lead">{{f.content}}</p>
      </div>
      <div class="col-md-5">
        <img id="featurette" src="{{f.image.url}}"/>
      </div>
      {% endfor %}
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
    {% for t in thirds %}
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">{{t.heading}}</h2>
        <p class="lead">{{t.content}}</p>
      </div>
      <div class="col-md-5">
      <img id="featurette" src="{{t.image.url}}" />
      </div>
      {% endfor %}
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
    {% for s in seconds%}
      <div class="col-md-7">
        <h2 class="featurette-heading">{{s.heading}}</h2>
        <p class="lead">{{s.content}}</p>
      </div>
      <div class="col-md-5">
       <img id="featurette" src="{{s.image.url}}"/>
      </div>
      {% endfor %}
    </div>
 
    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->
  </div><!-- /.container -->
</main>
{% endblock content %}

