{% extends "home/base.html" %}
{% load static %}

{% block content %}
<style>
 a{
     color: white;
 }
 a:hover{
     text-decoration: none;
     color: white;
 }

</style>
<!---
<link rel="stylesheet" href="{% static 'guidance/css/style.css' %}"/>
-->

<br>

<br>
<h1 class="text-center">Undergrad Admission Requirments</h1>
<div class="container">
  <div class="row">
    <div class="col-sm">
      IT in Applications Development
    </div>
    <div class="col-sm">
      IT in Communication Networks
    </div>
    <div class="col-sm">
      IT in Multimedia
    </div>
  </div>
</div>
<h1 class="text-center">Career Opportunities</h1>
{% endblock content%}