{% extends "home/base.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'about/css/style.css' %}"/>

{% block content%} 
<style>
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

#card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
img{
     border-radius: 50%;
    
}
#img-profile{
   width:50%;
   margin-left:25%;
   height:35%;
}
#name{
  text-align:center;
}
</style>
<br><br>
<div class="container">
<h2>This project was made possible by collaboration of these human beings:) </h2><br><br>
<div class="row">
  <div class="column">
  {% for creator in creators%}
    <div id="card" class="container">
     <h2 id="name">{{creator.name}} {{creator.surname}}</h2>
      <img id="img-profile"src="{{creator.photo.url}}" alt="Jane">
      <div class="container"><br>
        <p class="title">{{creator.qualification}}</p>
      <a href="{{creator.twitter}}"> <i class="fa fa-twitter"> </a></i>Twitter
        <p><a href="{{creator.github}}"><i class="fa fa-github"></i></a> Github</p>
        <p><button class="button">Email<i class="fa fa-email"></i></button></p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>
{% endblock content %}