{% extends "home/base.html" %}
{% load static %}

{% block content %}
<!--- 
<link rel="stylesheet" href="{% static 'contact/css/style.css' %}"/>
-->
<br>
<style>
 a{
     color: white;
 }
 a:hover{
     text-decoration: none;
     color: white;
 }

h1{
  text-align:center;
}
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  margin: 10px;
}

</style>
<div class="container">
<form id="contactForm" action="{% url 'contact:contact' %}" method="POST">
  {% csrf_token %}
  <h1>Please Leave Your Message Below:</h1> <br/>
  {% csrf_token %}
  {{ form }}
  
  <div style="overflow:auto;">
    <div style="float:left;"><br>
      <button  class="btn btn-success" type="submit" id="submitButton"><b>Submit Your Question</b></button>
    </div>
  </div>
</form>
</div>
<br/>
{% endblock content %}
