{% extends "home/base.html" %}

{% load static %}
<!--<link rel="stylesheet" href="{% static 'university/css/style.css' %}"/> -->
{% block content %}
<style>
 a{
     color: white;
 }
 a:hover{
     text-decoration: none;
     color: white;
 }

  body{
    background-color: white;
  }

  img{
    height: auto;
    width: 150px;
  }
  h1, .msg{
    text-align: center;
  }
  
      color: white;
 }
 a:hover{
     text-decoration: none;
     color: white;
 }

</style>
<br/>
<br/>
  <div class="container">
          <h1>South African Universities</h1>
          <p class="msg">Choose the best institution to quick start your careers.</p>
          <div class="row align-items-start">
              {% for u in university %}
     <div class="col">
        <h5>{{ u.name}}</h5>
            <img src="{{ u.logo.url }}" alt="">
  
        </div>
        {% endfor %}
      </div>
      </div>

 
{% endblock content %}